body
    margin 0
    font-family: Roboto, Arial, sans-serif

.grid
    display: grid
    grid-template-columns: 80px 1fr
    box-sizing: border-box

.pic 
    width: 30px
    height 30px
    border-radius: 50% 
    background: gray

.displayNone
    display: none

.displayBlock
    display: block